.trackbar {
  height: 3.5rem;
  overflow-x: scroll;
  background-color: #f1f5f9;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

.sortable {
  display:flex;
  flex-direction: row;
  align-items: stretch;
  flex:2;
}


.segment {
  background-color: red;
  border-radius: .25rem;
  resize: horizontal;
  display: flex;
  cursor: pointer;
  white-space: nowrap;
  padding: 10px;
}

.segment_meat {
  overflow: hidden;
}
