.trackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  overflow-x: scroll;
  background-color:  #E0E0E0;
  display:flex;
  flex-direction: row;
  align-items: stretch;
}


.segment {
  background-color: red;
  border-radius: .25rem;
  resize: horizontal;
  display: flex;
  cursor: pointer;
  white-space: nowrap;
  padding: 10px;
}

.segment_meat {
  overflow: hidden;
}
