.trackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  overflow-x: scroll;
  background-color:  white;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  border-top: #404040 solid 4px
}

.sortable {
  display:flex;
  flex-direction: row;
  align-items: stretch;
  flex:2;
}


.segment {
  background-color: red;
  border-radius: .25rem;
  resize: horizontal;
  display: flex;
  cursor: pointer;
  white-space: nowrap;
  padding: 10px;
}

.segment_meat {
  overflow: hidden;
}
